body{
    background: rgb(255, 201, 24);
    font-family:Arial, Helvetica, sans-serif;
}
div{
    margin:0px auto;
    background: rgb(255, 255, 255);
    width:100%;
    max-width:320px;
    padding:30px 10px;
    text-align: center; 
    box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
}
input{
    width:100%;
    max-width:270px;
    height:30px;
    border-radius: 10px;
    border:1px solid rgb(180, 180, 180);
    margin-left:10px;
    padding-left:20px;
    outline:none;   
}
button{
    border:none;
    width:290px;
    padding:14px 0px;
    border-radius:50px;
    outline:none;
    margin-left:10px;
    background: #699eff;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
button:active{
    background: #227aff;
}
footer{
    text-align:center;
}